﻿@model MC.WebApp.Module.Auth.ActivateMailTemplateViewModel


<div>
    Sayın @Model.NameSurname
</div>
<div>
    Aktivasyon Kodunuz : @Model.ActivationCode
</div>

<div>
    Aktivasyon Sayfasına <a href="@Model.ActivationUrl">@Model.ActivationUrl</a> sayfasından ulaşabilirsiniz
</div>

