﻿@model MC.WebApp.Module.Auth.ForgotPasswordViewModel


<div>
    Sayın @Model.NameSurname
</div>

<div>
    Şifre sıfırlama talebinde bulundunuz. <br />
    Aşağıdaki linke tıklayarak Açılan sayfaya <b>@Model.ActivationCode</b> kodunu yazarak işlemi tamamlayabilirsiniz.
</div>
<div>
    <a href="@Model.ResetLink">@Model.ResetLink</a>
</div>